# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/Lib/
backend/Scripts/
backend/Include/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# React
frontend/node_modules/
frontend/build/

# IDE
.vscode/
.idea/
backend/Lib/
backend/Scripts/
backend/Include/
backend/pyvenv.cfg